.American-Black-Duck-container * {background-color: rgba(195, 52, 180, 1.0);}
.American-Coot-container * {background-color: rgba(121, 97, 83, 1.0);}
.American-Crow-container * {background-color: rgba(69, 79, 61, 1.0);}
.American-Golden-Plover-container * {background-color: rgba(70, 134, 162, 1.0);}
.American-Goldfinch-container * {background-color: rgba(164, 105, 132, 1.0);}
.American-Kestrel-container * {background-color: rgba(171, 181, 59, 1.0);}
.American-Oystercatcher-container * {background-color: rgba(119, 67, 53, 1.0);}
.American-Redstart-container * {background-color: rgba(83, 171, 100, 1.0);}
.American-Robin-container * {background-color: rgba(116, 150, 163, 1.0);}
.American-Tree-Sparrow-container * {background-color: rgba(167, 51, 55, 1.0);}
.American-Wigeon-container * {background-color: rgba(74, 69, 67, 1.0);}
.Bald-Eagle-container * {background-color: rgba(135, 130, 94, 1.0);}
.Baltimore-Oriole-container * {background-color: rgba(126, 117, 136, 1.0);}
.Bank-Swallow-container * {background-color: rgba(68, 186, 181, 1.0);}
.Barn-Swallow-container * {background-color: rgba(171, 142, 191, 1.0);}
.Barred-Owl-container * {background-color: rgba(142, 190, 184, 1.0);}
.Bay-breasted-Warbler-container * {background-color: rgba(133, 141, 171, 1.0);}
.Belted-Kingfisher-container * {background-color: rgba(146, 65, 188, 1.0);}
.Black-Guillemot-container * {background-color: rgba(62, 197, 129, 1.0);}
.Black-Scoter-container * {background-color: rgba(168, 90, 147, 1.0);}
.Black-and-white-Warbler-container * {background-color: rgba(153, 74, 126, 1.0);}
.Black-bellied-Plover-container * {background-color: rgba(186, 143, 150, 1.0);}
.Black-billed-Cuckoo-container * {background-color: rgba(172, 51, 73, 1.0);}
.Black-capped-Chickadee-container * {background-color: rgba(196, 161, 195, 1.0);}
.Black-crowned-Night-Heron-container * {background-color: rgba(118, 165, 142, 1.0);}
.Black-throated-Blue-Warbler-container * {background-color: rgba(56, 121, 102, 1.0);}
.Black-throated-Green-Warbler-container * {background-color: rgba(181, 115, 181, 1.0);}
.Blackpoll-Warbler-container * {background-color: rgba(143, 180, 63, 1.0);}
.Blue-Grosbeak-container * {background-color: rgba(137, 70, 84, 1.0);}
.Blue-Jay-container * {background-color: rgba(98, 129, 97, 1.0);}
.Blue-gray-Gnatcatcher-container * {background-color: rgba(112, 178, 142, 1.0);}
.Blue-headed-Vireo-container * {background-color: rgba(162, 94, 162, 1.0);}
.Blue-winged-Teal-container * {background-color: rgba(177, 186, 145, 1.0);}
.Bobolink-container * {background-color: rgba(166, 183, 51, 1.0);}
.Bonapartes-Gull-container * {background-color: rgba(56, 151, 101, 1.0);}
.Brant-container * {background-color: rgba(56, 200, 143, 1.0);}
.Broad-winged-Hawk-container * {background-color: rgba(63, 192, 76, 1.0);}
.Brown-Creeper-container * {background-color: rgba(115, 62, 162, 1.0);}
.Brown-headed-Cowbird-container * {background-color: rgba(200, 64, 68, 1.0);}
.Bufflehead-container * {background-color: rgba(150, 176, 94, 1.0);}
.Canada-Goose-container * {background-color: rgba(151, 193, 122, 1.0);}
.Carolina-Wren-container * {background-color: rgba(168, 59, 88, 1.0);}
.Cedar-Waxwing-container * {background-color: rgba(177, 170, 57, 1.0);}
.Chestnut-sided-Warbler-container * {background-color: rgba(107, 117, 162, 1.0);}
.Chimney-Swift-container * {background-color: rgba(88, 186, 126, 1.0);}
.Chipping-Sparrow-container * {background-color: rgba(153, 104, 72, 1.0);}
.Cliff-Swallow-container * {background-color: rgba(61, 123, 109, 1.0);}
.Common-Eider-container * {background-color: rgba(120, 50, 109, 1.0);}
.Common-Goldeneye-container * {background-color: rgba(124, 158, 59, 1.0);}
.Common-Grackle-container * {background-color: rgba(163, 196, 166, 1.0);}
.Common-Loon-container * {background-color: rgba(130, 64, 176, 1.0);}
.Common-Merganser-container * {background-color: rgba(167, 139, 188, 1.0);}
.Common-Raven-container * {background-color: rgba(60, 91, 128, 1.0);}
.Common-Tern-container * {background-color: rgba(126, 124, 124, 1.0);}
.Common-Yellowthroat-container * {background-color: rgba(56, 199, 63, 1.0);}
.Connecticut-Warbler-container * {background-color: rgba(186, 135, 111, 1.0);}
.Coopers-Hawk-container * {background-color: rgba(189, 173, 140, 1.0);}
.Corys-Shearwater-container * {background-color: rgba(191, 87, 62, 1.0);}
.Corys/Great-Shearwater-container * {background-color: rgba(176, 129, 197, 1.0);}
.Dark-eyed-Junco-container * {background-color: rgba(173, 160, 139, 1.0);}
.Double-crested-Cormorant-container * {background-color: rgba(92, 86, 91, 1.0);}
.Downy-Woodpecker-container * {background-color: rgba(81, 109, 72, 1.0);}
.Dunlin-container * {background-color: rgba(197, 91, 78, 1.0);}
.Eastern-Bluebird-container * {background-color: rgba(100, 93, 78, 1.0);}
.Eastern-Kingbird-container * {background-color: rgba(119, 81, 130, 1.0);}
.Eastern-Phoebe-container * {background-color: rgba(95, 119, 173, 1.0);}
.Eastern-Towhee-container * {background-color: rgba(70, 143, 158, 1.0);}
.Eastern-Wood-Pewee-container * {background-color: rgba(54, 172, 51, 1.0);}
.European-Starling-container * {background-color: rgba(77, 139, 66, 1.0);}
.Field-Sparrow-container * {background-color: rgba(189, 109, 88, 1.0);}
.Fish-Crow-container * {background-color: rgba(161, 71, 128, 1.0);}
.Fox-Sparrow-container * {background-color: rgba(73, 175, 50, 1.0);}
.Gadwall-container * {background-color: rgba(108, 94, 112, 1.0);}
.Glossy-Ibis-container * {background-color: rgba(68, 153, 179, 1.0);}
.Golden-crowned-Kinglet-container * {background-color: rgba(174, 80, 115, 1.0);}
.Gray-Catbird-container * {background-color: rgba(194, 102, 77, 1.0);}
.Great-Black-backed-Gull-container * {background-color: rgba(91, 180, 110, 1.0);}
.Great-Blue-Heron-container * {background-color: rgba(192, 161, 57, 1.0);}
.Great-Cormorant-container * {background-color: rgba(108, 155, 50, 1.0);}
.Great-Crested-Flycatcher-container * {background-color: rgba(90, 141, 170, 1.0);}
.Great-Egret-container * {background-color: rgba(124, 67, 109, 1.0);}
.Great-Horned-Owl-container * {background-color: rgba(127, 170, 121, 1.0);}
.Greater-Scaup-container * {background-color: rgba(167, 112, 82, 1.0);}
.Greater-Yellowlegs-container * {background-color: rgba(113, 99, 194, 1.0);}
.Green-Heron-container * {background-color: rgba(52, 191, 99, 1.0);}
.Green-winged-Teal-container * {background-color: rgba(169, 176, 126, 1.0);}
.Hairy-Woodpecker-container * {background-color: rgba(177, 195, 75, 1.0);}
.Harlequin-Duck-container * {background-color: rgba(181, 194, 96, 1.0);}
.Hermit-Thrush-container * {background-color: rgba(95, 62, 105, 1.0);}
.Herring-Gull-container * {background-color: rgba(189, 173, 111, 1.0);}
.Hooded-Merganser-container * {background-color: rgba(154, 91, 198, 1.0);}
.Horned-Grebe-container * {background-color: rgba(50, 93, 180, 1.0);}
.Horned-Lark-container * {background-color: rgba(126, 112, 50, 1.0);}
.House-Finch-container * {background-color: rgba(154, 151, 72, 1.0);}
.House-Sparrow-container * {background-color: rgba(159, 96, 62, 1.0);}
.House-Wren-container * {background-color: rgba(62, 52, 140, 1.0);}
.Iceland-Gull-container * {background-color: rgba(86, 125, 198, 1.0);}
.Indigo-Bunting-container * {background-color: rgba(167, 66, 107, 1.0);}
.Killdeer-container * {background-color: rgba(151, 174, 61, 1.0);}
.Lark-Sparrow-container * {background-color: rgba(117, 135, 192, 1.0);}
.Laughing-Gull-container * {background-color: rgba(69, 119, 147, 1.0);}
.Least-Flycatcher-container * {background-color: rgba(132, 180, 50, 1.0);}
.Least-Sandpiper-container * {background-color: rgba(139, 51, 60, 1.0);}
.Lesser-Yellowlegs-container * {background-color: rgba(162, 136, 131, 1.0);}
.Lincolns-Sparrow-container * {background-color: rgba(117, 67, 114, 1.0);}
.Long-tailed-Duck-container * {background-color: rgba(108, 150, 174, 1.0);}
.Magnolia-Warbler-container * {background-color: rgba(108, 58, 174, 1.0);}
.Mallard-container * {background-color: rgba(194, 87, 170, 1.0);}
.Marsh-Wren-container * {background-color: rgba(157, 165, 57, 1.0);}
.Merlin-container * {background-color: rgba(185, 173, 89, 1.0);}
.Mourning-Dove-container * {background-color: rgba(154, 125, 67, 1.0);}
.Mute-Swan-container * {background-color: rgba(67, 62, 101, 1.0);}
.Nashville-Warbler-container * {background-color: rgba(80, 188, 195, 1.0);}
.Northern-Bobwhite-container * {background-color: rgba(146, 92, 106, 1.0);}
.Northern-Cardinal-container * {background-color: rgba(96, 87, 131, 1.0);}
.Northern-Flicker-container * {background-color: rgba(93, 198, 116, 1.0);}
.Northern-Gannet-container * {background-color: rgba(68, 60, 100, 1.0);}
.Northern-Harrier-container * {background-color: rgba(158, 51, 75, 1.0);}
.Northern-Mockingbird-container * {background-color: rgba(81, 62, 63, 1.0);}
.Northern-Parula-container * {background-color: rgba(107, 78, 132, 1.0);}
.Northern-Pintail-container * {background-color: rgba(129, 69, 114, 1.0);}
.Northern-Shoveler-container * {background-color: rgba(75, 93, 121, 1.0);}
.Northern-Shrike-container * {background-color: rgba(57, 144, 132, 1.0);}
.Orchard-Oriole-container * {background-color: rgba(182, 178, 93, 1.0);}
.Osprey-container * {background-color: rgba(70, 70, 82, 1.0);}
.Ovenbird-container * {background-color: rgba(156, 100, 155, 1.0);}
.Palm-Warbler-container * {background-color: rgba(139, 55, 94, 1.0);}
.Pectoral-Sandpiper-container * {background-color: rgba(105, 116, 78, 1.0);}
.Peregrine-Falcon-container * {background-color: rgba(182, 124, 65, 1.0);}
.Pied-billed-Grebe-container * {background-color: rgba(106, 145, 58, 1.0);}
.Pileated-Woodpecker-container * {background-color: rgba(142, 83, 189, 1.0);}
.Pine-Warbler-container * {background-color: rgba(97, 120, 102, 1.0);}
.Prairie-Warbler-container * {background-color: rgba(151, 52, 94, 1.0);}
.Purple-Finch-container * {background-color: rgba(114, 173, 60, 1.0);}
.Purple-Martin-container * {background-color: rgba(154, 94, 110, 1.0);}
.Purple-Sandpiper-container * {background-color: rgba(123, 106, 112, 1.0);}
.Red-Knot-container * {background-color: rgba(162, 111, 94, 1.0);}
.Red-bellied-Woodpecker-container * {background-color: rgba(52, 83, 86, 1.0);}
.Red-breasted-Merganser-container * {background-color: rgba(88, 192, 195, 1.0);}
.Red-breasted-Nuthatch-container * {background-color: rgba(157, 184, 153, 1.0);}
.Red-eyed-Vireo-container * {background-color: rgba(171, 200, 117, 1.0);}
.Red-necked-Grebe-container * {background-color: rgba(116, 127, 125, 1.0);}
.Red-shouldered-Hawk-container * {background-color: rgba(98, 67, 128, 1.0);}
.Red-tailed-Hawk-container * {background-color: rgba(130, 97, 93, 1.0);}
.Red-throated-Loon-container * {background-color: rgba(83, 190, 145, 1.0);}
.Red-winged-Blackbird-container * {background-color: rgba(152, 96, 98, 1.0);}
.Redhead-container * {background-color: rgba(52, 167, 150, 1.0);}
.Ring-billed-Gull-container * {background-color: rgba(106, 139, 197, 1.0);}
.Ring-necked-Duck-container * {background-color: rgba(168, 84, 129, 1.0);}
.Ring-necked-Pheasant-container * {background-color: rgba(140, 133, 87, 1.0);}
.Rock-Pigeon-container * {background-color: rgba(160, 181, 132, 1.0);}
.Rose-breasted-Grosbeak-container * {background-color: rgba(77, 200, 52, 1.0);}
.Ruby-crowned-Kinglet-container * {background-color: rgba(120, 67, 51, 1.0);}
.Ruby-throated-Hummingbird-container * {background-color: rgba(50, 110, 154, 1.0);}
.Sanderling-container * {background-color: rgba(78, 194, 60, 1.0);}
.Savannah-Sparrow-container * {background-color: rgba(70, 64, 136, 1.0);}
.Scarlet-Tanager-container * {background-color: rgba(52, 152, 74, 1.0);}
.Semipalmated-Plover-container * {background-color: rgba(192, 114, 137, 1.0);}
.Semipalmated-Sandpiper-container * {background-color: rgba(176, 172, 69, 1.0);}
.Sharp-shinned-Hawk-container * {background-color: rgba(60, 196, 56, 1.0);}
.Snow-Bunting-container * {background-color: rgba(77, 118, 89, 1.0);}
.Snowy-Egret-container * {background-color: rgba(113, 197, 133, 1.0);}
.Snowy-Owl-container * {background-color: rgba(65, 92, 179, 1.0);}
.Song-Sparrow-container * {background-color: rgba(166, 87, 71, 1.0);}
.Spotted-Sandpiper-container * {background-color: rgba(50, 152, 193, 1.0);}
.Surf-Scoter-container * {background-color: rgba(114, 143, 141, 1.0);}
.Swamp-Sparrow-container * {background-color: rgba(134, 155, 199, 1.0);}
.Tree-Swallow-container * {background-color: rgba(197, 70, 196, 1.0);}
.Tufted-Titmouse-container * {background-color: rgba(106, 149, 156, 1.0);}
.Turkey-Vulture-container * {background-color: rgba(141, 99, 181, 1.0);}
.Veery-container * {background-color: rgba(86, 104, 114, 1.0);}
.Virginia-Rail-container * {background-color: rgba(145, 63, 151, 1.0);}
.Warbling-Vireo-container * {background-color: rgba(159, 153, 110, 1.0);}
.Whimbrel-container * {background-color: rgba(152, 87, 78, 1.0);}
.White-breasted-Nuthatch-container * {background-color: rgba(113, 180, 145, 1.0);}
.White-rumped-Sandpiper-container * {background-color: rgba(164, 93, 107, 1.0);}
.White-throated-Sparrow-container * {background-color: rgba(154, 199, 178, 1.0);}
.White-winged-Scoter-container * {background-color: rgba(77, 63, 99, 1.0);}
.Wild-Turkey-container * {background-color: rgba(169, 167, 158, 1.0);}
.Willet-container * {background-color: rgba(59, 144, 144, 1.0);}
.Willow-Flycatcher-container * {background-color: rgba(198, 97, 109, 1.0);}
.Wilsons-Snipe-container * {background-color: rgba(59, 123, 188, 1.0);}
.Wilsons-Warbler-container * {background-color: rgba(138, 174, 177, 1.0);}
.Winter-Wren-container * {background-color: rgba(127, 131, 174, 1.0);}
.Wood-Duck-container * {background-color: rgba(110, 87, 87, 1.0);}
.Wood-Thrush-container * {background-color: rgba(120, 163, 174, 1.0);}
.Yellow-Warbler-container * {background-color: rgba(97, 155, 142, 1.0);}
.Yellow-bellied-Sapsucker-container * {background-color: rgba(73, 52, 50, 1.0);}
.Yellow-rumped-Warbler-container * {background-color: rgba(90, 55, 172, 1.0);}
