.American-Black-Duck-container * {background-color: rgba(93, 144, 76, 0.5);}
.American-Coot-container * {background-color: rgba(170, 143, 66, 0.5);}
.American-Crow-container * {background-color: rgba(65, 157, 10, 0.5);}
.American-Golden-Plover-container * {background-color: rgba(122, 102, 149, 0.5);}
.American-Goldfinch-container * {background-color: rgba(78, 189, 157, 0.5);}
.American-Kestrel-container * {background-color: rgba(174, 112, 138, 0.5);}
.American-Oystercatcher-container * {background-color: rgba(69, 50, 168, 0.5);}
.American-Redstart-container * {background-color: rgba(167, 107, 93, 0.5);}
.American-Robin-container * {background-color: rgba(166, 84, 67, 0.5);}
.American-Tree-Sparrow-container * {background-color: rgba(153, 40, 178, 0.5);}
.American-Wigeon-container * {background-color: rgba(149, 97, 123, 0.5);}
.Bald-Eagle-container * {background-color: rgba(153, 70, 149, 0.5);}
.Baltimore-Oriole-container * {background-color: rgba(150, 177, 123, 0.5);}
.Bank-Swallow-container * {background-color: rgba(27, 195, 56, 0.5);}
.Barn-Swallow-container * {background-color: rgba(175, 54, 68, 0.5);}
.Barred-Owl-container * {background-color: rgba(168, 146, 182, 0.5);}
.Bay-breasted-Warbler-container * {background-color: rgba(81, 183, 106, 0.5);}
.Belted-Kingfisher-container * {background-color: rgba(84, 107, 187, 0.5);}
.Black-Guillemot-container * {background-color: rgba(51, 197, 56, 0.5);}
.Black-Scoter-container * {background-color: rgba(60, 156, 122, 0.5);}
.Black-and-white-Warbler-container * {background-color: rgba(30, 85, 79, 0.5);}
.Black-bellied-Plover-container * {background-color: rgba(28, 125, 122, 0.5);}
.Black-billed-Cuckoo-container * {background-color: rgba(108, 185, 2, 0.5);}
.Black-capped-Chickadee-container * {background-color: rgba(30, 179, 92, 0.5);}
.Black-crowned-Night-Heron-container * {background-color: rgba(169, 195, 30, 0.5);}
.Black-throated-Blue-Warbler-container * {background-color: rgba(22, 189, 146, 0.5);}
.Black-throated-Green-Warbler-container * {background-color: rgba(168, 146, 191, 0.5);}
.Blackpoll-Warbler-container * {background-color: rgba(145, 144, 94, 0.5);}
.Blue-Grosbeak-container * {background-color: rgba(35, 109, 108, 0.5);}
.Blue-Jay-container * {background-color: rgba(50, 68, 150, 0.5);}
.Blue-gray-Gnatcatcher-container * {background-color: rgba(10, 62, 198, 0.5);}
.Blue-headed-Vireo-container * {background-color: rgba(79, 132, 101, 0.5);}
.Blue-winged-Teal-container * {background-color: rgba(103, 151, 113, 0.5);}
.Bobolink-container * {background-color: rgba(164, 162, 116, 0.5);}
.Bonaparte's-Gull-container * {background-color: rgba(51, 30, 188, 0.5);}
.Brant-container * {background-color: rgba(22, 101, 0, 0.5);}
.Broad-winged-Hawk-container * {background-color: rgba(180, 127, 174, 0.5);}
.Brown-Creeper-container * {background-color: rgba(168, 125, 7, 0.5);}
.Brown-headed-Cowbird-container * {background-color: rgba(170, 89, 16, 0.5);}
.Bufflehead-container * {background-color: rgba(23, 109, 93, 0.5);}
.Canada-Goose-container * {background-color: rgba(32, 106, 129, 0.5);}
.Carolina-Wren-container * {background-color: rgba(32, 92, 5, 0.5);}
.Cedar-Waxwing-container * {background-color: rgba(65, 94, 29, 0.5);}
.Chestnut-sided-Warbler-container * {background-color: rgba(200, 85, 137, 0.5);}
.Chimney-Swift-container * {background-color: rgba(129, 133, 193, 0.5);}
.Chipping-Sparrow-container * {background-color: rgba(29, 125, 32, 0.5);}
.Cliff-Swallow-container * {background-color: rgba(166, 99, 140, 0.5);}
.Common-Eider-container * {background-color: rgba(110, 104, 10, 0.5);}
.Common-Goldeneye-container * {background-color: rgba(4, 159, 32, 0.5);}
.Common-Grackle-container * {background-color: rgba(52, 16, 21, 0.5);}
.Common-Loon-container * {background-color: rgba(2, 31, 81, 0.5);}
.Common-Merganser-container * {background-color: rgba(186, 162, 42, 0.5);}
.Common-Raven-container * {background-color: rgba(130, 140, 25, 0.5);}
.Common-Tern-container * {background-color: rgba(156, 97, 116, 0.5);}
.Common-Yellowthroat-container * {background-color: rgba(65, 78, 151, 0.5);}
.Connecticut-Warbler-container * {background-color: rgba(146, 104, 175, 0.5);}
.Cooper's-Hawk-container * {background-color: rgba(85, 7, 145, 0.5);}
.Cory's-Shearwater-container * {background-color: rgba(76, 36, 121, 0.5);}
.Cory's/Great-Shearwater-container * {background-color: rgba(195, 22, 110, 0.5);}
.Dark-eyed-Junco-container * {background-color: rgba(101, 7, 14, 0.5);}
.Double-crested-Cormorant-container * {background-color: rgba(18, 181, 54, 0.5);}
.Downy-Woodpecker-container * {background-color: rgba(14, 182, 113, 0.5);}
.Dunlin-container * {background-color: rgba(192, 94, 70, 0.5);}
.Eastern-Bluebird-container * {background-color: rgba(20, 108, 43, 0.5);}
.Eastern-Kingbird-container * {background-color: rgba(176, 84, 124, 0.5);}
.Eastern-Phoebe-container * {background-color: rgba(34, 102, 176, 0.5);}
.Eastern-Towhee-container * {background-color: rgba(72, 107, 62, 0.5);}
.Eastern-Wood-Pewee-container * {background-color: rgba(102, 2, 14, 0.5);}
.European-Starling-container * {background-color: rgba(96, 124, 131, 0.5);}
.Field-Sparrow-container * {background-color: rgba(2, 195, 164, 0.5);}
.Fish-Crow-container * {background-color: rgba(19, 97, 137, 0.5);}
.Fox-Sparrow-container * {background-color: rgba(159, 152, 46, 0.5);}
.Gadwall-container * {background-color: rgba(148, 134, 127, 0.5);}
.Glossy-Ibis-container * {background-color: rgba(118, 117, 188, 0.5);}
.Golden-crowned-Kinglet-container * {background-color: rgba(105, 108, 33, 0.5);}
.Gray-Catbird-container * {background-color: rgba(26, 140, 67, 0.5);}
.Great-Black-backed-Gull-container * {background-color: rgba(190, 107, 96, 0.5);}
.Great-Blue-Heron-container * {background-color: rgba(148, 135, 37, 0.5);}
.Great-Cormorant-container * {background-color: rgba(29, 121, 97, 0.5);}
.Great-Crested-Flycatcher-container * {background-color: rgba(68, 98, 76, 0.5);}
.Great-Egret-container * {background-color: rgba(22, 186, 27, 0.5);}
.Great-Horned-Owl-container * {background-color: rgba(85, 89, 143, 0.5);}
.Greater-Scaup-container * {background-color: rgba(82, 70, 44, 0.5);}
.Greater-Yellowlegs-container * {background-color: rgba(47, 32, 69, 0.5);}
.Green-Heron-container * {background-color: rgba(41, 36, 9, 0.5);}
.Green-winged-Teal-container * {background-color: rgba(101, 37, 82, 0.5);}
.Hairy-Woodpecker-container * {background-color: rgba(101, 150, 163, 0.5);}
.Harlequin-Duck-container * {background-color: rgba(50, 188, 95, 0.5);}
.Hermit-Thrush-container * {background-color: rgba(15, 1, 197, 0.5);}
.Herring-Gull-container * {background-color: rgba(129, 115, 115, 0.5);}
.Hooded-Merganser-container * {background-color: rgba(155, 8, 144, 0.5);}
.Horned-Grebe-container * {background-color: rgba(39, 137, 140, 0.5);}
.Horned-Lark-container * {background-color: rgba(86, 9, 108, 0.5);}
.House-Finch-container * {background-color: rgba(192, 51, 69, 0.5);}
.House-Sparrow-container * {background-color: rgba(96, 155, 157, 0.5);}
.House-Wren-container * {background-color: rgba(164, 197, 98, 0.5);}
.Iceland-Gull-container * {background-color: rgba(54, 90, 39, 0.5);}
.Indigo-Bunting-container * {background-color: rgba(189, 97, 150, 0.5);}
.Killdeer-container * {background-color: rgba(178, 59, 25, 0.5);}
.Lark-Sparrow-container * {background-color: rgba(36, 90, 7, 0.5);}
.Laughing-Gull-container * {background-color: rgba(175, 160, 134, 0.5);}
.Least-Flycatcher-container * {background-color: rgba(47, 78, 111, 0.5);}
.Least-Sandpiper-container * {background-color: rgba(159, 138, 62, 0.5);}
.Lesser-Yellowlegs-container * {background-color: rgba(123, 0, 108, 0.5);}
.Lincoln's-Sparrow-container * {background-color: rgba(185, 43, 90, 0.5);}
.Long-tailed-Duck-container * {background-color: rgba(173, 137, 160, 0.5);}
.Magnolia-Warbler-container * {background-color: rgba(4, 192, 106, 0.5);}
.Mallard-container * {background-color: rgba(53, 91, 200, 0.5);}
.Marsh-Wren-container * {background-color: rgba(52, 78, 23, 0.5);}
.Merlin-container * {background-color: rgba(106, 136, 37, 0.5);}
.Mourning-Dove-container * {background-color: rgba(111, 47, 109, 0.5);}
.Mute-Swan-container * {background-color: rgba(60, 160, 99, 0.5);}
.Nashville-Warbler-container * {background-color: rgba(162, 92, 12, 0.5);}
.Northern-Bobwhite-container * {background-color: rgba(174, 2, 102, 0.5);}
.Northern-Cardinal-container * {background-color: rgba(5, 71, 13, 0.5);}
.Northern-Flicker-container * {background-color: rgba(129, 25, 174, 0.5);}
.Northern-Gannet-container * {background-color: rgba(78, 121, 35, 0.5);}
.Northern-Harrier-container * {background-color: rgba(6, 187, 41, 0.5);}
.Northern-Mockingbird-container * {background-color: rgba(147, 108, 126, 0.5);}
.Northern-Parula-container * {background-color: rgba(112, 88, 168, 0.5);}
.Northern-Pintail-container * {background-color: rgba(173, 77, 50, 0.5);}
.Northern-Shoveler-container * {background-color: rgba(171, 123, 120, 0.5);}
.Northern-Shrike-container * {background-color: rgba(89, 112, 32, 0.5);}
.Orchard-Oriole-container * {background-color: rgba(91, 26, 51, 0.5);}
.Osprey-container * {background-color: rgba(124, 133, 73, 0.5);}
.Ovenbird-container * {background-color: rgba(111, 80, 9, 0.5);}
.Palm-Warbler-container * {background-color: rgba(40, 54, 120, 0.5);}
.Pectoral-Sandpiper-container * {background-color: rgba(175, 3, 195, 0.5);}
.Peregrine-Falcon-container * {background-color: rgba(69, 71, 56, 0.5);}
.Pied-billed-Grebe-container * {background-color: rgba(173, 173, 156, 0.5);}
.Pileated-Woodpecker-container * {background-color: rgba(167, 7, 200, 0.5);}
.Pine-Warbler-container * {background-color: rgba(34, 128, 192, 0.5);}
.Prairie-Warbler-container * {background-color: rgba(197, 200, 189, 0.5);}
.Purple-Finch-container * {background-color: rgba(186, 153, 170, 0.5);}
.Purple-Martin-container * {background-color: rgba(48, 141, 22, 0.5);}
.Purple-Sandpiper-container * {background-color: rgba(60, 178, 85, 0.5);}
.Red-Knot-container * {background-color: rgba(161, 178, 168, 0.5);}
.Red-bellied-Woodpecker-container * {background-color: rgba(154, 103, 125, 0.5);}
.Red-breasted-Merganser-container * {background-color: rgba(98, 13, 16, 0.5);}
.Red-breasted-Nuthatch-container * {background-color: rgba(24, 14, 30, 0.5);}
.Red-eyed-Vireo-container * {background-color: rgba(74, 178, 150, 0.5);}
.Red-necked-Grebe-container * {background-color: rgba(38, 188, 182, 0.5);}
.Red-shouldered-Hawk-container * {background-color: rgba(24, 161, 19, 0.5);}
.Red-tailed-Hawk-container * {background-color: rgba(138, 167, 180, 0.5);}
.Red-throated-Loon-container * {background-color: rgba(150, 193, 156, 0.5);}
.Red-winged-Blackbird-container * {background-color: rgba(60, 147, 155, 0.5);}
.Redhead-container * {background-color: rgba(29, 54, 172, 0.5);}
.Ring-billed-Gull-container * {background-color: rgba(11, 19, 167, 0.5);}
.Ring-necked-Duck-container * {background-color: rgba(104, 61, 43, 0.5);}
.Ring-necked-Pheasant-container * {background-color: rgba(195, 6, 139, 0.5);}
.Rock-Pigeon-container * {background-color: rgba(117, 36, 5, 0.5);}
.Rose-breasted-Grosbeak-container * {background-color: rgba(164, 153, 175, 0.5);}
.Ruby-crowned-Kinglet-container * {background-color: rgba(171, 27, 4, 0.5);}
.Ruby-throated-Hummingbird-container * {background-color: rgba(91, 20, 90, 0.5);}
.Sanderling-container * {background-color: rgba(149, 52, 107, 0.5);}
.Savannah-Sparrow-container * {background-color: rgba(139, 127, 24, 0.5);}
.Scarlet-Tanager-container * {background-color: rgba(197, 106, 144, 0.5);}
.Semipalmated-Plover-container * {background-color: rgba(107, 132, 32, 0.5);}
.Semipalmated-Sandpiper-container * {background-color: rgba(175, 10, 81, 0.5);}
.Sharp-shinned-Hawk-container * {background-color: rgba(192, 132, 137, 0.5);}
.Snow-Bunting-container * {background-color: rgba(54, 9, 115, 0.5);}
.Snowy-Egret-container * {background-color: rgba(193, 166, 10, 0.5);}
.Snowy-Owl-container * {background-color: rgba(162, 153, 39, 0.5);}
.Song-Sparrow-container * {background-color: rgba(143, 21, 81, 0.5);}
.Spotted-Sandpiper-container * {background-color: rgba(186, 36, 72, 0.5);}
.Surf-Scoter-container * {background-color: rgba(15, 189, 1, 0.5);}
.Swamp-Sparrow-container * {background-color: rgba(97, 13, 172, 0.5);}
.Tree-Swallow-container * {background-color: rgba(190, 66, 179, 0.5);}
.Tufted-Titmouse-container * {background-color: rgba(46, 40, 191, 0.5);}
.Turkey-Vulture-container * {background-color: rgba(183, 1, 159, 0.5);}
.Veery-container * {background-color: rgba(31, 147, 168, 0.5);}
.Virginia-Rail-container * {background-color: rgba(0, 45, 90, 0.5);}
.Warbling-Vireo-container * {background-color: rgba(104, 23, 95, 0.5);}
.Whimbrel-container * {background-color: rgba(54, 134, 24, 0.5);}
.White-breasted-Nuthatch-container * {background-color: rgba(64, 143, 36, 0.5);}
.White-rumped-Sandpiper-container * {background-color: rgba(71, 7, 172, 0.5);}
.White-throated-Sparrow-container * {background-color: rgba(144, 72, 158, 0.5);}
.White-winged-Scoter-container * {background-color: rgba(8, 22, 19, 0.5);}
.Wild-Turkey-container * {background-color: rgba(51, 156, 114, 0.5);}
.Willet-container * {background-color: rgba(35, 70, 185, 0.5);}
.Willow-Flycatcher-container * {background-color: rgba(14, 166, 190, 0.5);}
.Wilson's-Snipe-container * {background-color: rgba(94, 95, 127, 0.5);}
.Wilson's-Warbler-container * {background-color: rgba(158, 156, 90, 0.5);}
.Winter-Wren-container * {background-color: rgba(141, 40, 148, 0.5);}
.Wood-Duck-container * {background-color: rgba(43, 31, 185, 0.5);}
.Wood-Thrush-container * {background-color: rgba(149, 142, 86, 0.5);}
.Yellow-Warbler-container * {background-color: rgba(179, 21, 15, 0.5);}
.Yellow-bellied-Sapsucker-container * {background-color: rgba(177, 175, 73, 0.5);}
.Yellow-rumped-Warbler-container * {background-color: rgba(120, 33, 2, 0.5);}
.blackbird-sp.-container * {background-color: rgba(29, 60, 112, 0.5);}
.gull-sp.-container * {background-color: rgba(90, 157, 136, 0.5);}
.jaeger-sp.-container * {background-color: rgba(120, 36, 177, 0.5);}
.passerine-sp.-container * {background-color: rgba(101, 184, 119, 0.5);}
.peep-sp.-container * {background-color: rgba(197, 80, 96, 0.5);}
.scoter-sp.-container * {background-color: rgba(115, 3, 34, 0.5);}
.shorebird-sp.-container * {background-color: rgba(10, 186, 100, 0.5);}
.sparrow-sp.-container * {background-color: rgba(22, 117, 33, 0.5);}
.vireo-sp.-container * {background-color: rgba(18, 4, 16, 0.5);}
.warbler-sp.-container * {background-color: rgba(156, 156, 106, 0.5);}
