.American-Black-Duck-container * {background-color: rgba(88, 13, 170, 0.5);}
.American-Coot-container * {background-color: rgba(149, 141, 172, 0.5);}
.American-Crow-container * {background-color: rgba(132, 95, 26, 0.5);}
.American-Golden-Plover-container * {background-color: rgba(9, 196, 9, 0.5);}
.American-Goldfinch-container * {background-color: rgba(46, 174, 3, 0.5);}
.American-Kestrel-container * {background-color: rgba(165, 123, 159, 0.5);}
.American-Oystercatcher-container * {background-color: rgba(17, 108, 55, 0.5);}
.American-Redstart-container * {background-color: rgba(101, 41, 14, 0.5);}
.American-Robin-container * {background-color: rgba(115, 103, 59, 0.5);}
.American-Tree-Sparrow-container * {background-color: rgba(72, 91, 110, 0.5);}
.American-Wigeon-container * {background-color: rgba(187, 35, 124, 0.5);}
.Bald-Eagle-container * {background-color: rgba(131, 69, 122, 0.5);}
.Baltimore-Oriole-container * {background-color: rgba(161, 175, 100, 0.5);}
.Bank-Swallow-container * {background-color: rgba(114, 5, 39, 0.5);}
.Barn-Swallow-container * {background-color: rgba(82, 17, 199, 0.5);}
.Barred-Owl-container * {background-color: rgba(102, 31, 14, 0.5);}
.Bay-breasted-Warbler-container * {background-color: rgba(127, 106, 8, 0.5);}
.Belted-Kingfisher-container * {background-color: rgba(44, 192, 188, 0.5);}
.Black-Guillemot-container * {background-color: rgba(6, 142, 99, 0.5);}
.Black-Scoter-container * {background-color: rgba(104, 178, 173, 0.5);}
.Black-and-white-Warbler-container * {background-color: rgba(64, 92, 116, 0.5);}
.Black-bellied-Plover-container * {background-color: rgba(81, 103, 78, 0.5);}
.Black-billed-Cuckoo-container * {background-color: rgba(172, 27, 148, 0.5);}
.Black-capped-Chickadee-container * {background-color: rgba(50, 51, 113, 0.5);}
.Black-crowned-Night-Heron-container * {background-color: rgba(89, 116, 186, 0.5);}
.Black-throated-Blue-Warbler-container * {background-color: rgba(112, 187, 155, 0.5);}
.Black-throated-Green-Warbler-container * {background-color: rgba(107, 91, 193, 0.5);}
.Blackpoll-Warbler-container * {background-color: rgba(178, 174, 16, 0.5);}
.Blue-Grosbeak-container * {background-color: rgba(134, 0, 90, 0.5);}
.Blue-Jay-container * {background-color: rgba(167, 142, 16, 0.5);}
.Blue-gray-Gnatcatcher-container * {background-color: rgba(21, 55, 37, 0.5);}
.Blue-headed-Vireo-container * {background-color: rgba(153, 6, 21, 0.5);}
.Blue-winged-Teal-container * {background-color: rgba(161, 200, 127, 0.5);}
.Bobolink-container * {background-color: rgba(110, 43, 187, 0.5);}
.Bonapartes-Gull-container * {background-color: rgba(149, 106, 155, 0.5);}
.Brant-container * {background-color: rgba(33, 157, 84, 0.5);}
.Broad-winged-Hawk-container * {background-color: rgba(104, 57, 130, 0.5);}
.Brown-Creeper-container * {background-color: rgba(101, 12, 146, 0.5);}
.Brown-headed-Cowbird-container * {background-color: rgba(23, 82, 99, 0.5);}
.Bufflehead-container * {background-color: rgba(6, 49, 78, 0.5);}
.Canada-Goose-container * {background-color: rgba(185, 149, 115, 0.5);}
.Carolina-Wren-container * {background-color: rgba(31, 30, 161, 0.5);}
.Cedar-Waxwing-container * {background-color: rgba(41, 77, 93, 0.5);}
.Chestnut-sided-Warbler-container * {background-color: rgba(90, 28, 175, 0.5);}
.Chimney-Swift-container * {background-color: rgba(153, 154, 3, 0.5);}
.Chipping-Sparrow-container * {background-color: rgba(197, 24, 147, 0.5);}
.Cliff-Swallow-container * {background-color: rgba(106, 25, 175, 0.5);}
.Common-Eider-container * {background-color: rgba(181, 176, 77, 0.5);}
.Common-Goldeneye-container * {background-color: rgba(60, 93, 131, 0.5);}
.Common-Grackle-container * {background-color: rgba(70, 193, 101, 0.5);}
.Common-Loon-container * {background-color: rgba(175, 149, 41, 0.5);}
.Common-Merganser-container * {background-color: rgba(80, 9, 125, 0.5);}
.Common-Raven-container * {background-color: rgba(18, 173, 120, 0.5);}
.Common-Tern-container * {background-color: rgba(171, 150, 103, 0.5);}
.Common-Yellowthroat-container * {background-color: rgba(104, 155, 50, 0.5);}
.Connecticut-Warbler-container * {background-color: rgba(100, 56, 190, 0.5);}
.Coopers-Hawk-container * {background-color: rgba(3, 27, 1, 0.5);}
.Corys-Shearwater-container * {background-color: rgba(71, 71, 118, 0.5);}
.Corys/Great-Shearwater-container * {background-color: rgba(9, 131, 69, 0.5);}
.Dark-eyed-Junco-container * {background-color: rgba(68, 137, 76, 0.5);}
.Double-crested-Cormorant-container * {background-color: rgba(8, 17, 130, 0.5);}
.Downy-Woodpecker-container * {background-color: rgba(134, 36, 176, 0.5);}
.Dunlin-container * {background-color: rgba(116, 73, 21, 0.5);}
.Eastern-Bluebird-container * {background-color: rgba(177, 187, 24, 0.5);}
.Eastern-Kingbird-container * {background-color: rgba(125, 28, 129, 0.5);}
.Eastern-Phoebe-container * {background-color: rgba(104, 180, 108, 0.5);}
.Eastern-Towhee-container * {background-color: rgba(63, 193, 45, 0.5);}
.Eastern-Wood-Pewee-container * {background-color: rgba(107, 25, 72, 0.5);}
.European-Starling-container * {background-color: rgba(6, 31, 96, 0.5);}
.Field-Sparrow-container * {background-color: rgba(184, 166, 52, 0.5);}
.Fish-Crow-container * {background-color: rgba(62, 186, 92, 0.5);}
.Fox-Sparrow-container * {background-color: rgba(41, 171, 14, 0.5);}
.Gadwall-container * {background-color: rgba(178, 138, 22, 0.5);}
.Glossy-Ibis-container * {background-color: rgba(100, 111, 59, 0.5);}
.Golden-crowned-Kinglet-container * {background-color: rgba(17, 11, 110, 0.5);}
.Gray-Catbird-container * {background-color: rgba(64, 134, 74, 0.5);}
.Great-Black-backed-Gull-container * {background-color: rgba(177, 198, 7, 0.5);}
.Great-Blue-Heron-container * {background-color: rgba(144, 62, 137, 0.5);}
.Great-Cormorant-container * {background-color: rgba(192, 154, 64, 0.5);}
.Great-Crested-Flycatcher-container * {background-color: rgba(73, 119, 46, 0.5);}
.Great-Egret-container * {background-color: rgba(16, 88, 138, 0.5);}
.Great-Horned-Owl-container * {background-color: rgba(25, 154, 122, 0.5);}
.Greater-Scaup-container * {background-color: rgba(179, 130, 54, 0.5);}
.Greater-Yellowlegs-container * {background-color: rgba(107, 3, 153, 0.5);}
.Green-Heron-container * {background-color: rgba(172, 48, 146, 0.5);}
.Green-winged-Teal-container * {background-color: rgba(176, 30, 71, 0.5);}
.Hairy-Woodpecker-container * {background-color: rgba(105, 164, 132, 0.5);}
.Harlequin-Duck-container * {background-color: rgba(125, 21, 61, 0.5);}
.Hermit-Thrush-container * {background-color: rgba(156, 138, 6, 0.5);}
.Herring-Gull-container * {background-color: rgba(60, 38, 8, 0.5);}
.Hooded-Merganser-container * {background-color: rgba(200, 51, 74, 0.5);}
.Horned-Grebe-container * {background-color: rgba(137, 62, 190, 0.5);}
.Horned-Lark-container * {background-color: rgba(71, 106, 191, 0.5);}
.House-Finch-container * {background-color: rgba(90, 70, 52, 0.5);}
.House-Sparrow-container * {background-color: rgba(110, 91, 28, 0.5);}
.House-Wren-container * {background-color: rgba(74, 63, 82, 0.5);}
.Iceland-Gull-container * {background-color: rgba(142, 128, 28, 0.5);}
.Indigo-Bunting-container * {background-color: rgba(118, 1, 94, 0.5);}
.Killdeer-container * {background-color: rgba(158, 90, 131, 0.5);}
.Lark-Sparrow-container * {background-color: rgba(97, 52, 168, 0.5);}
.Laughing-Gull-container * {background-color: rgba(182, 113, 72, 0.5);}
.Least-Flycatcher-container * {background-color: rgba(88, 35, 0, 0.5);}
.Least-Sandpiper-container * {background-color: rgba(21, 27, 24, 0.5);}
.Lesser-Yellowlegs-container * {background-color: rgba(91, 128, 132, 0.5);}
.Lincolns-Sparrow-container * {background-color: rgba(118, 142, 175, 0.5);}
.Long-tailed-Duck-container * {background-color: rgba(118, 158, 73, 0.5);}
.Magnolia-Warbler-container * {background-color: rgba(102, 31, 87, 0.5);}
.Mallard-container * {background-color: rgba(157, 106, 89, 0.5);}
.Marsh-Wren-container * {background-color: rgba(126, 86, 16, 0.5);}
.Merlin-container * {background-color: rgba(74, 101, 73, 0.5);}
.Mourning-Dove-container * {background-color: rgba(5, 63, 157, 0.5);}
.Mute-Swan-container * {background-color: rgba(2, 101, 164, 0.5);}
.Nashville-Warbler-container * {background-color: rgba(28, 123, 112, 0.5);}
.Northern-Bobwhite-container * {background-color: rgba(189, 60, 134, 0.5);}
.Northern-Cardinal-container * {background-color: rgba(121, 91, 144, 0.5);}
.Northern-Flicker-container * {background-color: rgba(143, 76, 93, 0.5);}
.Northern-Gannet-container * {background-color: rgba(85, 109, 155, 0.5);}
.Northern-Harrier-container * {background-color: rgba(77, 100, 108, 0.5);}
.Northern-Mockingbird-container * {background-color: rgba(39, 174, 131, 0.5);}
.Northern-Parula-container * {background-color: rgba(151, 125, 2, 0.5);}
.Northern-Pintail-container * {background-color: rgba(62, 169, 135, 0.5);}
.Northern-Shoveler-container * {background-color: rgba(176, 60, 90, 0.5);}
.Northern-Shrike-container * {background-color: rgba(145, 22, 50, 0.5);}
.Orchard-Oriole-container * {background-color: rgba(105, 187, 144, 0.5);}
.Osprey-container * {background-color: rgba(128, 129, 75, 0.5);}
.Ovenbird-container * {background-color: rgba(19, 84, 156, 0.5);}
.Palm-Warbler-container * {background-color: rgba(129, 166, 189, 0.5);}
.Pectoral-Sandpiper-container * {background-color: rgba(149, 164, 152, 0.5);}
.Peregrine-Falcon-container * {background-color: rgba(39, 76, 35, 0.5);}
.Pied-billed-Grebe-container * {background-color: rgba(41, 156, 51, 0.5);}
.Pileated-Woodpecker-container * {background-color: rgba(5, 105, 97, 0.5);}
.Pine-Warbler-container * {background-color: rgba(91, 38, 128, 0.5);}
.Prairie-Warbler-container * {background-color: rgba(92, 46, 103, 0.5);}
.Purple-Finch-container * {background-color: rgba(79, 72, 61, 0.5);}
.Purple-Martin-container * {background-color: rgba(117, 95, 140, 0.5);}
.Purple-Sandpiper-container * {background-color: rgba(18, 2, 24, 0.5);}
.Red-Knot-container * {background-color: rgba(50, 86, 138, 0.5);}
.Red-bellied-Woodpecker-container * {background-color: rgba(32, 104, 104, 0.5);}
.Red-breasted-Merganser-container * {background-color: rgba(34, 71, 62, 0.5);}
.Red-breasted-Nuthatch-container * {background-color: rgba(110, 135, 118, 0.5);}
.Red-eyed-Vireo-container * {background-color: rgba(113, 175, 151, 0.5);}
.Red-necked-Grebe-container * {background-color: rgba(8, 119, 132, 0.5);}
.Red-shouldered-Hawk-container * {background-color: rgba(84, 55, 149, 0.5);}
.Red-tailed-Hawk-container * {background-color: rgba(4, 193, 55, 0.5);}
.Red-throated-Loon-container * {background-color: rgba(128, 35, 10, 0.5);}
.Red-winged-Blackbird-container * {background-color: rgba(78, 146, 154, 0.5);}
.Redhead-container * {background-color: rgba(50, 170, 52, 0.5);}
.Ring-billed-Gull-container * {background-color: rgba(195, 177, 86, 0.5);}
.Ring-necked-Duck-container * {background-color: rgba(71, 185, 27, 0.5);}
.Ring-necked-Pheasant-container * {background-color: rgba(124, 53, 175, 0.5);}
.Rock-Pigeon-container * {background-color: rgba(120, 70, 82, 0.5);}
.Rose-breasted-Grosbeak-container * {background-color: rgba(90, 5, 144, 0.5);}
.Ruby-crowned-Kinglet-container * {background-color: rgba(43, 71, 88, 0.5);}
.Ruby-throated-Hummingbird-container * {background-color: rgba(149, 68, 185, 0.5);}
.Sanderling-container * {background-color: rgba(192, 164, 8, 0.5);}
.Savannah-Sparrow-container * {background-color: rgba(190, 76, 103, 0.5);}
.Scarlet-Tanager-container * {background-color: rgba(22, 106, 73, 0.5);}
.Semipalmated-Plover-container * {background-color: rgba(134, 44, 5, 0.5);}
.Semipalmated-Sandpiper-container * {background-color: rgba(41, 25, 117, 0.5);}
.Sharp-shinned-Hawk-container * {background-color: rgba(122, 181, 125, 0.5);}
.Snow-Bunting-container * {background-color: rgba(15, 38, 119, 0.5);}
.Snowy-Egret-container * {background-color: rgba(173, 121, 11, 0.5);}
.Snowy-Owl-container * {background-color: rgba(125, 177, 107, 0.5);}
.Song-Sparrow-container * {background-color: rgba(60, 59, 148, 0.5);}
.Spotted-Sandpiper-container * {background-color: rgba(140, 174, 167, 0.5);}
.Surf-Scoter-container * {background-color: rgba(199, 90, 50, 0.5);}
.Swamp-Sparrow-container * {background-color: rgba(169, 116, 23, 0.5);}
.Tree-Swallow-container * {background-color: rgba(116, 74, 174, 0.5);}
.Tufted-Titmouse-container * {background-color: rgba(188, 73, 148, 0.5);}
.Turkey-Vulture-container * {background-color: rgba(81, 49, 9, 0.5);}
.Veery-container * {background-color: rgba(122, 9, 177, 0.5);}
.Virginia-Rail-container * {background-color: rgba(102, 186, 147, 0.5);}
.Warbling-Vireo-container * {background-color: rgba(134, 110, 121, 0.5);}
.Whimbrel-container * {background-color: rgba(38, 107, 150, 0.5);}
.White-breasted-Nuthatch-container * {background-color: rgba(82, 72, 168, 0.5);}
.White-rumped-Sandpiper-container * {background-color: rgba(28, 59, 48, 0.5);}
.White-throated-Sparrow-container * {background-color: rgba(93, 75, 118, 0.5);}
.White-winged-Scoter-container * {background-color: rgba(119, 49, 129, 0.5);}
.Wild-Turkey-container * {background-color: rgba(110, 155, 64, 0.5);}
.Willet-container * {background-color: rgba(58, 200, 10, 0.5);}
.Willow-Flycatcher-container * {background-color: rgba(85, 90, 43, 0.5);}
.Wilsons-Snipe-container * {background-color: rgba(146, 151, 186, 0.5);}
.Wilsons-Warbler-container * {background-color: rgba(65, 132, 12, 0.5);}
.Winter-Wren-container * {background-color: rgba(52, 59, 189, 0.5);}
.Wood-Duck-container * {background-color: rgba(111, 24, 185, 0.5);}
.Wood-Thrush-container * {background-color: rgba(107, 149, 168, 0.5);}
.Yellow-Warbler-container * {background-color: rgba(2, 61, 149, 0.5);}
.Yellow-bellied-Sapsucker-container * {background-color: rgba(175, 172, 33, 0.5);}
.Yellow-rumped-Warbler-container * {background-color: rgba(165, 7, 133, 0.5);}
.blackbird-sp.-container * {background-color: rgba(135, 37, 15, 0.5);}
.gull-sp.-container * {background-color: rgba(135, 198, 59, 0.5);}
.jaeger-sp.-container * {background-color: rgba(98, 14, 146, 0.5);}
.passerine-sp.-container * {background-color: rgba(179, 118, 116, 0.5);}
.peep-sp.-container * {background-color: rgba(115, 84, 50, 0.5);}
.scoter-sp.-container * {background-color: rgba(50, 119, 168, 0.5);}
.shorebird-sp.-container * {background-color: rgba(29, 188, 84, 0.5);}
.sparrow-sp.-container * {background-color: rgba(85, 197, 37, 0.5);}
.vireo-sp.-container * {background-color: rgba(4, 41, 109, 0.5);}
.warbler-sp.-container * {background-color: rgba(155, 120, 119, 0.5);}
