body{
    font-family: verdana;
    overflow: hidden;
}

a{
    color:white;
}a:hover{
    color:#666;
    text-decoration:none;
}

#filter-options{
    background-color:#aaa;
    color:#fff;
    padding:1%;
}

#filter-list{
    padding:0;
    padding-right:3%;
}

#filter-list div{
    background-color:rgba(255,255,255,.75);
    margin:1%;
}

#add-bird{
    width:100%;
}

#add-bird-form, #login-form {
  /*Reset opacity for form*/
  background: white;
  border-radius: 5px;
  display:none;
}

.close {
  padding:1%;
}

#add-bird-submit, #login-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid black;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: button;
  color: #000;
  background-color: #fff;
  border-color: #000;
  margin-bottom: 2%;
}

.bootstrap-timepicker-widget {
  z-index: 10000
}

.filter-list-check{
    padding:0;
    width:15%;
}
.filter-list-species{
    text-align:left;
    padding:0;
    padding-left:3%;
    width:80%;
    border-right:0;
}

.filter-list-o span{
    opacity:0;
}

.filter-list-o {
    background-color:#eee;
}

#filter-list .row{
    border-radius:5px;
    padding:.5%;
}

#filter-list-row{
  max-height:80vh;

}

#filter-list #filters{

    max-height:30vh;
    background-color:rgba(255,255,255,.75);
    overflow-y:scroll;
}

#entire-list{

    height:30vh;
    overflow-y:scroll;
}

#autocomplete-answers{
    max-height:30vh;
    overflow-y:scroll;
    border-radius:5px;
}

.bird-image{
    width:100px;
}

.bird-popup{
    width:400px;
    overflow: hidden;
    padding-right: 5px;
}

.bird-info dt{
    width:100px;
}
.bird-info dd{
    margin-left:105px;
    width:200px;
}

#map-canvas {
  height: 91vh;
}

/*Hack to fix width of divs so that close appears*/
#map-canvas > .gm-style > div > div > div > div {
  max-width: 444px !important;
}

form h3 {
  display: inline;
  margin: 10px;
  text-align: center;
}

.error-message {
  color: red;
}