body{
    font-family: verdana;
    overflow: hidden;
}

a{
    color:#6782AF;
}a:hover{
    color:#ccc;
    text-decoration:none;
    cursor:pointer;
}

#filter-options{
    background-color:#eee;
    color:#555;
    padding:1%;
    font-size:10px;
    border-bottom:2px #ccc solid;
}

.big{
    font-size:22px;
}

#filter-list{
    text-align:left;
    padding:0;
    padding-right:3%;
}

#filter-list div{
    background-color:rgba(255,255,255,.75);
    margin:1%;
}

#add-bird{
    width:60%;
}

#add-bird-form, #login-form {
  /*Reset opacity for form*/
  background: white;
  border-radius: 5px;
  display:none;
    padding-top:.75%;
}

.close {
  padding:1%;
}

#add-bird-submit, #login-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0px solid black;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: button;
  color: #000;
  background-color: #ddd;
  margin-bottom: 2%;
}#add-bird-submit, #login-submit:hover{
    background-color:#bbb;
}

.bootstrap-timepicker-widget {
  z-index: 10000
}

.filter-list-check{
    text-align:left;
    padding:0;
    padding-left:4%;
}
.filter-list-species{
    text-align:left;
    padding:0;
    padding-left:3%;
    border-right:0;
    color: black;
}

.filter-list-o span{
    opacity:0;
}

.filter-list-o {
    background-color:#eee;
}

#filter-list .row{
    border-radius:5px;
    padding:.5%;
}

#filter-list #filters{

    height:15vh;
    background-color:rgba(255,255,255,.75);
    overflow-y:scroll;
}

#entire-list{

    height:40vh;
    overflow-y:scroll;
}

#autocomplete-answers{
    height:15vh;
    overflow-y:scroll;
    border-radius:6px;
}

.bird-image{
    width:100px;
}

.bird-popup{
    width:400px;
    overflow: hidden;
    padding-right: 5px;
}

.bird-info dt{
    width:100px;
}
.bird-info dd{
    margin-left:105px;
    width:200px;
}

#map-canvas {
  height: 91vh;
}

/*Hack to fix width of divs so that close appears*/
#map-canvas > .gm-style > div > div > div > div {
  max-width: 444px !important;
}

form h3 {
  display: inline;
  margin: 10px;
  text-align: center;
}

.error-message {
  color: red;
}

hr{
    border-top-color:#999;
}

#login-logout{
    font-size:15px;
}

#entire-list{
    overflow-x: hidden;
}

.input-group{
    border:2px solid transparent;
    border-radius:5px;
}
.autocomplete-removable .input-group-addon{
    background-color:#eee;
    color:#000;
}
.input-group-addon{
    color:#fff;
    background-color:#aaa;
    border:0;
}

.filter-list-x{
    text-align:right;
}

.filter-list-x .btn.btn-default{
    border:0;
    border-radius:0;
    color:#fff;
}
.filter-list-x .btn.btn-default:hover{
    color:#000;
    background-color:inherit;
}

label{
    text-align:right;
}

#autocomplete-focus{
    border:2px solid #0df;
}